# Dataset other_train.csv
#### Anton Rusňák, František Gič

In [65]:
import pandas as pd
import numpy as np
import matplotlib as mat
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats as sm_stats
import statsmodels.stats.api as sms
import scipy.stats as stats
%matplotlib inline

data_other = pd.read_csv("data/other_train.csv",sep=",")

In [66]:
#data_other = data_other.drop(data_other.columns[0],axis=1)

In [67]:
def sanitize_boolean(boolean):
    try:
        if boolean.strip() in ['f','F','FALSE','false','False']:
            return False
        elif boolean.strip() in ['t','T','TRUE','true','True']:
            return True
    except AttributeError:
        return None
    
data_other.pregnant = data_other.pregnant.apply(sanitize_boolean)

In [68]:
def parse_personal_info(personal_info):
    try:    
        return np.array(personal_info.replace(' -- ', ',').replace('|', ',').replace('\r\r\n', ',').split(','))
    except AttributeError:
        return None
    
def remove_empty(arr):
        if arr is not None:
            empty = ['?','??']
            for i in range(0,len(arr)):
                if (arr[i] != None):
                    if arr[i] in empty:
                        arr[i] = None
        return arr
    
def fill_value(number,arr):
    if arr is not None:
        return arr[number]

In [69]:
parsed_info = data_other.personal_info.apply(parse_personal_info).apply(remove_empty)

for index,name in enumerate(['employment','country','relationship_info','employment_info','race']):
    data_other[name] = parsed_info.apply(lambda x: fill_value(index,x))

In [70]:
data_duplicates = data_other[data_other.duplicated(subset='name', keep='first')]
#print(data_duplicates)

      Unnamed: 0                  name  \
611          611        Thomas Sanchez
1011        1011          Scott Devine
1056        1056           Brian Sayle
1579        1579     Timothy Morrissey
1612        1612            Jeff Clark
1664        1664          Charles Ryan
1782        1782             Van Mason
1806        1806       Clarence Rivers
1844        1844        Edward Peschel
1916        1916        Timothy Sexton
2032        2032           Robert Coen
2146        2146         Jeffrey Silva
2300        2300          Joseph Davis
2328        2328        William Snyder
2433        2433            Carl Gross
2452        2452          Leslie Marks
2641        2641        Michael Parker
2744        2744          Randal Louis
3031        3031         Jesse Garrett
3039        3039       George Hairston
3087        3087         Marcus Martin
3124        3124            Ken Howard
3142        3142         Matthew Barry
3167        3167        Anthony Huston
3232        3232         Ronald Vernon
3234        3234         William Lacey
3261        3261         Adrian Alnutt
3289        3289        Martin Winslow
3296        3296        Joshua Sanders
3299        3299       Francis Siebert
3317        3317          Damon Gordon
3335        3335         Daniel Browne
3353        3353           Walter Lohr
3384        3384        Robert Barnett
3430        3430             Paul Todd
3470        3470      Thomas Hernandez
3504        3504       Michale Robbins
3540        3540         James Morales
3542        3542          Lance Palmer
3628        3628         Kenneth Green
3654        3654  Christopher Jennings
3708        3708           Bert Fowler
3722        3722          John Bormann
3780        3780           Dean Foster
3787        3787          David Muller
3881        3881           Peter Simon
3882        3882          Julian Davis
3926        3926    Zachary Grandfield
3943        3943        Larry Hastings
3961        3961            John Jaffe

                                                address  kurtosis_oxygen  \
611   08508 Fernandez Flat Apt. 002\r\nWest Andrea, ...         2.229245
1011            13640 King Way\r\nCandacestad, CO 48501        12.921804
1056                 Unit 8665 Box 3853\r\nDPO AE 91497        10.745293
1579        2502 Barker Grove\r\nLake Michael, MD 09357         0.641441
1612  7111 Brown Divide Suite 582\r\nLake Adam, WY 8...         2.481615
1664  753 Jenna Forest Suite 302\r\nAndrewstad, SC 8...         1.821402
1782  07119 Allen Springs Apt. 535\r\nTracyfurt, ID ...         9.745960
1806         5800 Murphy Hollow\r\nPalmerbury, MA 20073        10.912477
1844    6562 James Plaza Apt. 950\r\nRyanberg, ND 07273              NaN
1916                 PSC 7866, Box 3941\r\nAPO AE 38197        10.802464
2032                      USCGC Roberts\r\nFPO AP 79030         4.373814
2146  0806 Matthew Radial Suite 640\r\nPort Geraldch...         7.350902
2300        908 John Squares\r\nGordonchester, DE 34696         7.508943
2328      935 Patricia Underpass\r\nHardyberg, MA 64743        10.811388
2433           765 Cruz Walks\r\nBentleyburgh, IN 37147         8.359921
2452        657 Williams Lakes\r\nNew Jessica, SC 19216         7.708201
2641  00045 Stuart Divide\r\nLake Anthonyfurt, NM 15518         8.620896
2744   95639 Gordon Alley Apt. 014\r\nAmyview, IA 08273        11.692194
3031   02673 Clark Hollow\r\nNew Isabellaberg, MS 37603         3.817963
3039      18356 Benjamin Roads\r\nSouth Nancy, NJ 58120        19.696449
3087  0767 Cheryl Spring Suite 383\r\nSmithburgh, NC...         9.619149
3124  1266 Rice Villages Apt. 837\r\nPort Christophe...         3.602677
3142                 Unit 3881 Box 9328\r\nDPO AE 56526        -0.354235
3167  053 Jacob Cape Suite 034\r\nFigueroashire, SC ...         9.262513
3232        93783 Koch Shore\r\nBowersborough, NV 11345        15.797562
3234      03291 Stewart Greens\r\nSouth David, GA 86868         5.498867
3261        8942 Kaufman Park\r\nJennifertown, AK 67798         2.902775
3289         624 Jones Mountains\r\nYoungberg, MO 94502        13.203427
3296  0629 Trevor Inlet Suite 858\r\nHarrisonborough...        11.938502
3299        982 Douglas Lights\r\nStewartfort, WY 59574         1.509937
3317  9853 Sims Tunnel Apt. 990\r\nNorth Katherinebu...        10.728410
3335  62435 William Mill Apt. 976\r\nMalloryland, ND...        10.115970
3353         54747 Corey Shore\r\nWest Miguel, ME 23170         9.131698
3384  70417 Rodgers Gardens Apt. 766\r\nSarahport, N...         3.874827
3430  67426 Pierce Greens\r\nSouth Kimberlyport, MS ...         9.853659
3470      3197 Ashley Street\r\nNorth Brandon, WA 90798        11.130535
3504  31046 Amy Expressway Suite 183\r\nNorth Markbe...         0.766689
3540  758 Rush Junctions Suite 181\r\nNorth Brenda, ...         0.204406
3542                 PSC 3789, Box 2884\r\nAPO AA 45129         8.998641
3628  1381 Schneider Common Apt. 574\r\nSouth Nichol...         9.766992
3654  09825 Brian Freeway\r\nEast Austinborough, AR ...         1.333386
3708         83987 Smith Mall\r\nPort Cynthia, NY 01518         2.225273
3722          71353 Miller Point\r\nLake John, PA 33429        11.919944
3780  0953 Jenkins Extensions Suite 206\r\nKimhaven,...        12.274998
3787    96941 Heather Heights\r\nPetersonberg, OK 45722        -0.936519
3881          1348 Carlos Valleys\r\nJosebury, MD 62824        11.953114
3882  75930 Jonathan Passage Suite 688\r\nPort Jamie...         9.849796
3926  77606 Maxwell Rest Apt. 485\r\nPort Jennifer, ...              NaN
3943                 PSC 5570, Box 2217\r\nAPO AP 22025        15.381605
3961                 PSC 3677, Box 2117\r\nAPO AE 28076         6.023659

     pregnant  education-num     relationship  skewness_glucose  mean_glucose  \
611     False            NaN   Other-relative         17.381483     50.929688
1011     None           13.0          Husband               NaN    128.539062
1056    False           15.0          Husband          0.682723    105.484375
1579     None           13.0          Husband         18.678145     42.507812
1612    False           14.0          Husband         29.112486     39.742188
1664    False            7.0        Own-child         16.484870     54.742188
1782    False            9.0    Not-in-family          0.683885    113.882812
1806    False            9.0    Not-in-family          1.183415    119.671875
1844    False            NaN          Husband               NaN     92.773438
1916    False           13.0        Own-child         -0.151936    154.187500
2032     None           10.0          Husband               NaN    117.765625
2146    False           14.0    Not-in-family               NaN    107.828125
2300     None            NaN          Husband         -0.344439    117.828125
2328    False            4.0        Own-child          0.511960    121.734375
2433    False            9.0              NaN          0.535185     95.664062
2452    False           13.0              NaN               NaN    118.468750
2641    False           10.0          Husband         -0.685681    116.437500
2744    False           14.0          Husband          0.036374    122.968750
3031    False           13.0    Not-in-family          3.407330     75.500000
3039    False           10.0          Husband         -0.016932    124.640625
3087    False           14.0          Husband          0.277213    138.195312
3124    False            NaN             Wife         -0.200794    130.640625
3142    False           10.0    Not-in-family         13.069902     23.789062
3167    False           10.0          Husband               NaN     91.468750
3232    False            9.0          Husband         -0.707691    119.367188
3234    False            NaN          Husband          0.049202    140.179688
3261    False            9.0          Husband         -0.394452    118.054688
3289    False            9.0    Not-in-family               NaN    127.531250
3296     None            NaN        Unmarried         -0.368959           NaN
3299    False            9.0          Husband         33.156220     19.492188
3317    False           13.0          Husband         -0.734330    139.117188
3335    False            9.0        Unmarried         -0.135072    114.906250
3353    False           14.0    Not-in-family               NaN    100.515625
3384    False            NaN    Not-in-family               NaN     53.796875
3430    False           10.0          Husband          0.087275    133.421875
3470     None            9.0          Husband         -0.487009           NaN
3504    False            NaN          Husband         36.841550     25.882812
3540    False            9.0   Other-relative         39.094605      8.109375
3542    False           14.0          Husband               NaN    153.429688
3628    False           10.0              NaN         -0.397321    106.835938
3654    False            9.0    Not-in-family         -1.168893    122.656250
3708    False           14.0              NaN               NaN           NaN
3722    False           13.0          Husband          0.169072     99.679688
3780    False           15.0          Husband          0.118957    120.664062
3787    False            9.0              NaN               NaN     54.257812
3881    False            NaN   Other-relative          0.504810    111.460938
3882     None            NaN        Own-child          0.793905           NaN
3926    False            9.0    Not-in-family         -0.043235    102.710938
3943    False           11.0    Not-in-family          0.093926    101.718750
3961     None            9.0              NaN          1.906458    114.789062

      std_oxygen  ...  std_glucose  income  mean_oxygen hours-per-week  \
611          NaN  ...          NaN   <=50K          NaN            NaN
1011         NaN  ...    46.694302   <=50K     1.286789            NaN
1056   13.776845  ...    42.219661    >50K     2.162207           60.0
1579         NaN  ...    34.301056     NaN          NaN           50.0
1612   52.242833  ...    31.130332   <=50K    23.057692            8.0
1664   59.420044  ...    32.337634   <=50K    32.774247           30.0
1782   19.769107  ...    44.344289   <=50K     2.200669           60.0
1806   16.864159  ...    39.307106   <=50K     1.746656           43.0
1844   74.427846  ...          NaN    >50K    43.400502            NaN
1916         NaN  ...          NaN   <=50K     2.069398           60.0
2032   34.429408  ...    50.315176   <=50K     8.146321           40.0
2146   22.454845  ...  4627.518054   <=50K          NaN           40.0
2300   21.297861  ...    50.184520     NaN     3.221572            3.0
2328   13.245584  ...    44.908150   <=50K     2.082776           84.0
2433   16.519310  ...    47.606505   <=50K     2.897993           40.0
2452   25.240915  ...    52.182663   <=50K          NaN           50.0
2641   19.802528  ... -6180.434729    >50K     2.981605           60.0
2744   13.656888  ...  4809.446068   <=50K     1.427258           40.0
3031   42.676728  ...    47.715629   <=50K    13.190635           45.0
3039    9.349634  ...    50.170605    >50K     0.867893           84.0
3087   13.620776  ...    43.169010    >50K     2.142977           47.0
3124         NaN  ...    50.376044     NaN    11.642977           40.0
3142   68.195929  ...  4475.151051   <=50K   130.994147           14.0
3167   13.619921  ...    41.077658    >50K     2.407191           40.0
3232   10.974850  ...    57.607219   <=50K     0.999164            2.0
3234         NaN  ...    45.839127    >50K     6.209866           45.0
3261   56.808479  ...    53.474922   <=50K    18.591137           40.0
3289         NaN  ...    54.948689   <=50K          NaN           30.0
3296   13.171622  ...    55.480443   <=50K     1.644649           40.0
3299   57.232719  ...    32.671661   <=50K          NaN           70.0
3317   12.430800  ...    61.714390     NaN     2.083612           40.0
3335   16.451133  ...    54.366729   <=50K     1.826923            NaN
3353   17.132455  ...    36.479871   <=50K     2.175585           35.0
3384   41.062448  ...    35.224583   <=50K    12.570234            NaN
3430   13.955411  ...    47.333196    >50K     2.377926           40.0
3470         NaN  ...    49.812343   <=50K     1.821070           40.0
3504   59.255379  ...          NaN     NaN    96.708194           43.0
3540   72.147916  ...    33.709057   <=50K   111.352007           40.0
3542   19.747333  ...          NaN    >50K     2.485786           50.0
3628         NaN  ...    53.789052   <=50K          NaN           50.0
3654   69.048403  ...    65.026730   <=50K    40.698997           75.0
3708   60.656770  ...    47.029319    >50K    26.102007            NaN
3722   12.875357  ...    44.752607   <=50K     1.771739           50.0
3780   16.270931  ...    44.941851   <=50K     1.489967           40.0
3787   64.792196  ...    41.582231   <=50K   159.611204            NaN
3881   16.437662  ...    43.919832     NaN     1.607023           60.0
3882   13.091273  ... -4211.331440     NaN     2.339465           40.0
3926   17.773259  ...    54.770566   <=50K     2.377090            NaN
3943   10.512441  ...    48.484201   <=50K     1.130435           40.0
3961         NaN  ...          NaN   <=50K          NaN           40.0

     capital-loss         employment        country   relationship_info  \
611           0.0     Prof-specialty  United-States       Never-married
1011          NaN  Machine-op-inspct  United-States  Married-civ-spouse
1056          NaN     Prof-specialty  United-States  Married-civ-spouse
1579          0.0              Sales  United-States  Married-civ-spouse
1612          0.0               None  United-States  Married-civ-spouse
1664          0.0      Other-service  United-States       Never-married
1782          0.0              Sales  United-States            Divorced
1806          0.0  Machine_op_inspct  United-States           Separated
1844          0.0      Other-service  United-States  Married-civ-spouse
1916          NaN              Sales  United-States       Never-married
2032          NaN               None           None                None
2146          NaN              Sales  United-States            Divorced
2300          NaN               None  United-States  Married-civ-spouse
2328          0.0               None  United-States            Divorced
2433          0.0              Sales  United-States  Married-civ-spouse
2452          NaN     Prof-specialty  United-States            Divorced
2641          0.0               None           None                None
2744          0.0              Sales  United-States  Married-civ-spouse
3031          NaN     Prof-specialty  United-States       Never-married
3039          0.0  Machine-op-inspct  United-States  Married-civ-spouse
3087          0.0     Prof-specialty  United-States  Married-civ-spouse
3124          0.0     Prof-specialty  United-States  Married-civ-spouse
3142          0.0       Adm_clerical  United-States       Never-married
3167          0.0    Exec-managerial  United-States  Married-civ-spouse
3232          0.0               None           None                None
3234          0.0     Prof-specialty  United-States  Married-civ-spouse
3261          0.0       Craft-repair  United-States  Married-civ-spouse
3289          0.0      Other-service  United-States       Never-married
3296          0.0              Sales  United-States            Divorced
3299          NaN               None           None                None
3317          0.0     Prof-specialty  United-States  Married-civ-spouse
3335          0.0    Exec-managerial  United-States       Never-married
3353          0.0               None         Canada       Never-married
3384          0.0               None           None                None
3430          0.0       Craft-repair  United-States  Married-civ-spouse
3470          0.0               None           None  Married-civ-spouse
3504          NaN               None           None                None
3540          0.0   Transport-moving  United-States       Never-married
3542          0.0    Exec-managerial  United-States  Married-civ-spouse
3628          NaN               None           None                None
3654          0.0               None           None                None
3708          0.0     Prof-specialty  United-States  Married-civ-spouse
3722          0.0       Craft-repair         Canada  Married-civ-spouse
3780          0.0       Adm-clerical  United-States  Married-civ-spouse
3787          0.0               None           None                None
3881          0.0  Machine-op-inspct         Mexico       Never-married
3882          NaN       Adm-clerical  United-States       Never-married
3926          0.0       Adm-clerical  United-States       Never-married
3943          0.0       Craft-repair  United-States       Never-married
3961          0.0  Machine-op-inspct  United-States  Married-civ-spouse

       employment_info   race
611            Private  White
1011           Private  Black
1056      Self-emp-inc  White
1579           Private  White
1612              None  White
1664           Private  White
1782           Private  White
1806           Private  White
1844  Self-emp-not-inc  White
1916           Private  White
2032              None   None
2146           Private  White
2300              None  White
2328              None  White
2433           Private  White
2452           Private  White
2641              None   None
2744           Private  White
3031           Private  White
3039           Private  White
3087           Private  White
3124         Local-gov  Black
3142           Private  Black
3167      Self-emp-inc  White
3232              None   None
3234           Private  White
3261         State-gov  White
3289           Private  White
3296           Private  White
3299              None   None
3317           Private  White
3335           Private  Black
3353              None  White
3384              None   None
3430           Private  White
3470              None  White
3504              None   None
3540           Private  White
3542           Private  White
3628              None   None
3654              None   None
3708           Private  White
3722      Self-emp-inc  White
3780           Private  White
3787              None   None
3881           Private  White
3882         State-gov  White
3926           Private  White
3943  Self-emp-not-inc  White
3961       Federal-gov  White

[50 rows x 27 columns]

In [71]:
data_other.info()
data_other.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3983 entries, 0 to 3982
Data columns (total 27 columns):
Unnamed: 0           3983 non-null int64
name                 3983 non-null object
address              3983 non-null object
kurtosis_oxygen      3978 non-null float64
pregnant             3971 non-null object
education-num        3965 non-null float64
relationship         3970 non-null object
skewness_glucose     3960 non-null float64
mean_glucose         3973 non-null float64
std_oxygen           3969 non-null float64
capital-gain         3967 non-null float64
skewness_oxygen      3970 non-null float64
kurtosis_glucose     3965 non-null float64
personal_info        3971 non-null object
education            3971 non-null object
fnlwgt               3970 non-null float64
class                3964 non-null float64
std_glucose          3971 non-null float64
income               3969 non-null object
mean_oxygen          3967 non-null float64
hours-per-week       3970 non-null float64
capital-loss         3963 non-null float64
employment           3971 non-null object
country              3971 non-null object
relationship_info    3971 non-null object
employment_info      3971 non-null object
race                 3971 non-null object
dtypes: float64(14), int64(1), object(12)
memory usage: 840.3+ KB

,Unnamed: 0,name,address,kurtosis_oxygen,pregnant,education-num,relationship,skewness_glucose,mean_glucose,std_oxygen,...,std_glucose,income,mean_oxygen,hours-per-week,capital-loss,employment,country,relationship_info,employment_info,race
0,0,Alex Chinzi,"590 Samantha Bridge Apt. 572\r\nNorth Allison,...",8.286599,False,16.0,Husband,0.234418,107.484375,15.072284,...,44.487706,>50K,2.448161,50.0,0.0,Prof-specialty,United-States,Married-civ-spouse,Private,White
1,1,Scott Bass,"5384 Hurst Groves Apt. 092\r\nFreemanview, SD ...",6.455860,False,13.0,Own-child,0.151130,140.203125,21.925411,...,44.586531,<=50K,4.445652,15.0,0.0,Prof-specialty,United-States,Never-married,Private,White
2,2,Chuck Lao,USS Scott\r\nFPO AE 78885,11.513491,False,9.0,Unmarried,-0.024384,124.054688,11.822427,...,45.904165,<=50K,1.890468,40.0,0.0,Other-service,Mexico,Separated,Private,White
3,3,Floyd Squires,"122 Ryan Ranch Suite 621\r\nPort Douglas, NM 0...",7.641796,False,13.0,Not-in-family,-0.564287,115.046875,22.965651,...,58.140302,<=50K,3.639632,40.0,0.0,Prof-specialty,Canada,Never-married,Private,White
4,4,Kenneth Cadet,"30930 Ryan Groves\r\nKatelynside, MS 75220",8.826058,False,9.0,Husband,0.495896,93.335938,13.777158,...,45.605865,<=50K,2.510870,40.0,0.0,Sales,United-States,Married-civ-spouse,Private,White

In [72]:
aggregation_functions = {'name': 'first','address':'first', 'kurtosis_oxygen': 'first','pregnant': 'first','education-num': 'first',
                         'relationship': 'first','skewness_glucose': 'first','mean_glucose': 'first','std_oxygen': 'first',
                         'capital-gain': 'first','skewness_oxygen': 'first','kurtosis_glucose': 'first','personal_info': 'first',
                         'education': 'first','fnlwgt': 'first','class': 'first','std_glucose': 'first',
                         'income': 'first','mean_oxygen': 'first','hours-per-week': 'first','capital-loss': 'first' ,'employment': 'first' 
                         ,'country': 'first' ,'relationship_info': 'first' ,'employment_info': 'first' ,'race': 'first' }

data_other = data_other.groupby(data_other['name']).aggregate(aggregation_functions)

In [73]:
data_duplicates = data_other[data_other.duplicated(subset='name', keep='first')]
print(data_duplicates)

Empty DataFrame
Columns: [name, address, kurtosis_oxygen, pregnant, education-num, relationship, skewness_glucose, mean_glucose, std_oxygen, capital-gain, skewness_oxygen, kurtosis_glucose, personal_info, education, fnlwgt, class, std_glucose, income, mean_oxygen, hours-per-week, capital-loss, employment, country, relationship_info, employment_info, race]
Index: []

[0 rows x 26 columns]

In [74]:
data_personal = pd.read_csv("data/personal_train.csv",sep=",")

In [75]:
data_personal.head()

,Unnamed: 0,name,address,age,sex,date_of_birth
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",59,Male,1960-07-04
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",47,Female,1972-07-20
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",59,Male,1960-02-28
3,3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",51,Female,1967-12-04
4,4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",NaN,Female,1938-04-22

In [76]:
data_personal = data_personal.drop(data_personal.columns[0],axis=1)

In [77]:
data_personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933 entries, 0 to 3932
Data columns (total 5 columns):
name             3933 non-null object
address          3933 non-null object
age              3343 non-null object
sex              3933 non-null object
date_of_birth    3933 non-null object
dtypes: object(5)
memory usage: 153.8+ KB

In [78]:
duplicateRowsDF = data_personal[data_personal.duplicated()]
print(duplicateRowsDF)

Empty DataFrame
Columns: [name, address, age, sex, date_of_birth]
Index: []

In [79]:
def reload_data():
    """Reloads the data from CSV file"""
    return pd.read_csv("data/personal_train.csv",sep=",",index_col=0)
    
data_personal = reload_data()

In [84]:
data_personal.index.name = None
data_other.index.name = None

data = pd.merge(data_personal,data_other ,left_on=['name','address'], right_on=['name','address'], how = 'outer')

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 29 columns):
name                 3933 non-null object
address              3933 non-null object
age                  3343 non-null object
sex                  3933 non-null object
date_of_birth        3933 non-null object
kurtosis_oxygen      3933 non-null float64
pregnant             3929 non-null object
education-num        3932 non-null float64
relationship         3932 non-null object
skewness_glucose     3931 non-null float64
mean_glucose         3932 non-null float64
std_oxygen           3932 non-null float64
capital-gain         3933 non-null float64
skewness_oxygen      3932 non-null float64
kurtosis_glucose     3932 non-null float64
personal_info        3933 non-null object
education            3932 non-null object
fnlwgt               3933 non-null float64
class                3932 non-null float64
std_glucose          3933 non-null float64
income               3932 non-null object
mean_oxygen          3933 non-null float64
hours-per-week       3933 non-null float64
capital-loss         3933 non-null float64
employment           3930 non-null object
country              3930 non-null object
relationship_info    3930 non-null object
employment_info      3930 non-null object
race                 3930 non-null object
dtypes: float64(14), object(15)
memory usage: 921.8+ KB