# Dataset other_train.csv
#### Anton Rusňák, František Gič

In [15]:
import pandas as pd
import numpy as np
import matplotlib as mat
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats as sm_stats
import statsmodels.stats.api as sms
import scipy.stats as stats
%matplotlib inline

data = pd.read_csv("data/other_train.csv",sep=",")

In [16]:
data.head()

,Unnamed: 0,name,address,kurtosis_oxygen,pregnant,education-num,relationship,skewness_glucose,mean_glucose,std_oxygen,...,kurtosis_glucose,personal_info,education,fnlwgt,class,std_glucose,income,mean_oxygen,hours-per-week,capital-loss
0,0,Alex Chinzi,"590 Samantha Bridge Apt. 572\r\nNorth Allison,...",8.286599,f,16.0,Husband,0.234418,107.484375,15.072284,...,0.362969,Prof-specialty|United-States\r\r\nMarried-civ-...,Doctorate,320102.0,0.0,44.487706,>50K,2.448161,50.0,0.0
1,1,Scott Bass,"5384 Hurst Groves Apt. 092\r\nFreemanview, SD ...",6.455860,f,13.0,Own-child,0.151130,140.203125,21.925411,...,-0.170101,Prof-specialty|United-States\r\r\nNever-marrie...,Bachelors,148300.0,0.0,44.586531,<=50K,4.445652,15.0,0.0
2,2,Chuck Lao,USS Scott\r\nFPO AE 78885,11.513491,f,9.0,Unmarried,-0.024384,124.054688,11.822427,...,-0.026966,Other-service|Mexico\r\r\nSeparated -- Private...,HS-grad,190885.0,0.0,45.904165,<=50K,1.890468,40.0,0.0
3,3,Floyd Squires,"122 Ryan Ranch Suite 621\r\nPort Douglas, NM 0...",7.641796,f,13.0,Not-in-family,-0.564287,115.046875,22.965651,...,0.269421,Prof-specialty|Canada\r\r\nNever-married -- Pr...,Bachelors,191385.0,0.0,58.140302,<=50K,3.639632,40.0,0.0
4,4,Kenneth Cadet,"30930 Ryan Groves\r\nKatelynside, MS 75220",8.826058,f,9.0,Husband,0.495896,93.335938,13.777158,...,0.537549,Sales|United-States\r\r\nMarried-civ-spouse --...,HS-grad,226875.0,0.0,45.605865,<=50K,2.510870,40.0,0.0

In [17]:
data = data.drop(data.columns[0],axis=1)

In [18]:
data.describe()

,kurtosis_oxygen,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,skewness_oxygen,kurtosis_glucose,fnlwgt,class,std_glucose,mean_oxygen,hours-per-week,capital-loss
count,3978.000000,3965.000000,3960.000000,3973.000000,3969.000000,3967.000000,3970.000000,3965.000000,3970.000000,3964.000000,3971.000000,3967.000000,3970.000000,3963.000000
mean,7.414473,10.084489,4.242530,101.248940,31.148558,1042.988908,91.370712,0.950507,192967.197985,0.255298,74.479764,18.470601,40.568766,80.275549
std,4.811907,2.588918,9.706012,33.601519,22.263993,7006.726961,108.475749,1.611069,103285.567216,0.436083,1448.165852,34.808695,12.601133,388.336046
min,-2.597872,1.000000,-1.755332,6.187500,7.370432,0.000000,-1.976976,-1.641515,19214.000000,0.000000,-8305.388133,0.213211,1.000000,0.000000
25%,3.630716,9.000000,-0.120081,87.742188,15.024700,0.000000,12.858504,0.072144,120960.000000,0.000000,39.502222,2.061873,40.000000,0.000000
50%,7.784802,10.000000,0.374657,110.664062,20.547873,0.000000,68.623477,0.310372,182045.000000,0.000000,45.928079,3.223244,40.000000,0.000000
75%,10.278883,12.000000,2.091543,124.132812,43.253607,0.000000,127.236918,0.775684,241631.000000,1.000000,51.048246,12.610786,45.000000,0.000000
max,34.539844,16.000000,68.101622,189.734375,110.642211,99999.000000,1191.000837,8.069522,889965.000000,1.000000,6649.471314,217.371238,99.000000,3770.000000

                      name                                            address  \
611         Thomas Sanchez  08508 Fernandez Flat Apt. 002\r\nWest Andrea, ...
1011          Scott Devine            13640 King Way\r\nCandacestad, CO 48501
1056           Brian Sayle                 Unit 8665 Box 3853\r\nDPO AE 91497
1579     Timothy Morrissey        2502 Barker Grove\r\nLake Michael, MD 09357
1612            Jeff Clark  7111 Brown Divide Suite 582\r\nLake Adam, WY 8...
1664          Charles Ryan  753 Jenna Forest Suite 302\r\nAndrewstad, SC 8...
1782             Van Mason  07119 Allen Springs Apt. 535\r\nTracyfurt, ID ...
1806       Clarence Rivers         5800 Murphy Hollow\r\nPalmerbury, MA 20073
1844        Edward Peschel    6562 James Plaza Apt. 950\r\nRyanberg, ND 07273
1916        Timothy Sexton                 PSC 7866, Box 3941\r\nAPO AE 38197
2032           Robert Coen                      USCGC Roberts\r\nFPO AP 79030
2146         Jeffrey Silva  0806 Matthew Radial Suite 640\r\nPort Geraldch...
2300          Joseph Davis        908 John Squares\r\nGordonchester, DE 34696
2328        William Snyder      935 Patricia Underpass\r\nHardyberg, MA 64743
2433            Carl Gross           765 Cruz Walks\r\nBentleyburgh, IN 37147
2452          Leslie Marks        657 Williams Lakes\r\nNew Jessica, SC 19216
2641        Michael Parker  00045 Stuart Divide\r\nLake Anthonyfurt, NM 15518
2744          Randal Louis   95639 Gordon Alley Apt. 014\r\nAmyview, IA 08273
3031         Jesse Garrett   02673 Clark Hollow\r\nNew Isabellaberg, MS 37603
3039       George Hairston      18356 Benjamin Roads\r\nSouth Nancy, NJ 58120
3087         Marcus Martin  0767 Cheryl Spring Suite 383\r\nSmithburgh, NC...
3124            Ken Howard  1266 Rice Villages Apt. 837\r\nPort Christophe...
3142         Matthew Barry                 Unit 3881 Box 9328\r\nDPO AE 56526
3167        Anthony Huston  053 Jacob Cape Suite 034\r\nFigueroashire, SC ...
3232         Ronald Vernon        93783 Koch Shore\r\nBowersborough, NV 11345
3234         William Lacey      03291 Stewart Greens\r\nSouth David, GA 86868
3261         Adrian Alnutt        8942 Kaufman Park\r\nJennifertown, AK 67798
3289        Martin Winslow         624 Jones Mountains\r\nYoungberg, MO 94502
3296        Joshua Sanders  0629 Trevor Inlet Suite 858\r\nHarrisonborough...
3299       Francis Siebert        982 Douglas Lights\r\nStewartfort, WY 59574
3317          Damon Gordon  9853 Sims Tunnel Apt. 990\r\nNorth Katherinebu...
3335         Daniel Browne  62435 William Mill Apt. 976\r\nMalloryland, ND...
3353           Walter Lohr         54747 Corey Shore\r\nWest Miguel, ME 23170
3384        Robert Barnett  70417 Rodgers Gardens Apt. 766\r\nSarahport, N...
3430             Paul Todd  67426 Pierce Greens\r\nSouth Kimberlyport, MS ...
3470      Thomas Hernandez      3197 Ashley Street\r\nNorth Brandon, WA 90798
3504       Michale Robbins  31046 Amy Expressway Suite 183\r\nNorth Markbe...
3540         James Morales  758 Rush Junctions Suite 181\r\nNorth Brenda, ...
3542          Lance Palmer                 PSC 3789, Box 2884\r\nAPO AA 45129
3628         Kenneth Green  1381 Schneider Common Apt. 574\r\nSouth Nichol...
3654  Christopher Jennings  09825 Brian Freeway\r\nEast Austinborough, AR ...
3708           Bert Fowler         83987 Smith Mall\r\nPort Cynthia, NY 01518
3722          John Bormann          71353 Miller Point\r\nLake John, PA 33429
3780           Dean Foster  0953 Jenkins Extensions Suite 206\r\nKimhaven,...
3787          David Muller    96941 Heather Heights\r\nPetersonberg, OK 45722
3881           Peter Simon          1348 Carlos Valleys\r\nJosebury, MD 62824
3882          Julian Davis  75930 Jonathan Passage Suite 688\r\nPort Jamie...
3926    Zachary Grandfield  77606 Maxwell Rest Apt. 485\r\nPort Jennifer, ...
3943        Larry Hastings                 PSC 5570, Box 2217\r\nAPO AP 22025
3961            John Jaffe                 PSC 3677, Box 2117\r\nAPO AE 28076

      kurtosis_oxygen pregnant  education-num     relationship  \
611          2.229245        f            NaN   Other-relative
1011        12.921804      NaN           13.0          Husband
1056        10.745293        f           15.0          Husband
1579         0.641441      NaN           13.0          Husband
1612         2.481615        f           14.0          Husband
1664         1.821402    FALSE            7.0        Own-child
1782         9.745960        f            9.0    Not-in-family
1806        10.912477        f            9.0    Not-in-family
1844              NaN        f            NaN          Husband
1916        10.802464        f           13.0        Own-child
2032         4.373814      NaN           10.0          Husband
2146         7.350902        f           14.0    Not-in-family
2300         7.508943      NaN            NaN          Husband
2328        10.811388        f            4.0        Own-child
2433         8.359921        f            9.0              NaN
2452         7.708201        f           13.0              NaN
2641         8.620896        f           10.0          Husband
2744        11.692194        f           14.0          Husband
3031         3.817963        f           13.0    Not-in-family
3039        19.696449        f           10.0          Husband
3087         9.619149        f           14.0          Husband
3124         3.602677        f            NaN             Wife
3142        -0.354235        f           10.0    Not-in-family
3167         9.262513        f           10.0          Husband
3232        15.797562        f            9.0          Husband
3234         5.498867        f            NaN          Husband
3261         2.902775        f            9.0          Husband
3289        13.203427        f            9.0    Not-in-family
3296        11.938502      NaN            NaN        Unmarried
3299         1.509937        f            9.0          Husband
3317        10.728410        F           13.0          Husband
3335        10.115970        f            9.0        Unmarried
3353         9.131698        f           14.0    Not-in-family
3384         3.874827        f            NaN    Not-in-family
3430         9.853659        f           10.0          Husband
3470        11.130535      NaN            9.0          Husband
3504         0.766689        f            NaN          Husband
3540         0.204406        f            9.0   Other-relative
3542         8.998641        f           14.0          Husband
3628         9.766992        f           10.0              NaN
3654         1.333386        f            9.0    Not-in-family
3708         2.225273        f           14.0              NaN
3722        11.919944        F           13.0          Husband
3780        12.274998        f           15.0          Husband
3787        -0.936519        f            9.0              NaN
3881        11.953114        f            NaN   Other-relative
3882         9.849796      NaN            NaN        Own-child
3926              NaN    FALSE            9.0    Not-in-family
3943        15.381605        f           11.0    Not-in-family
3961         6.023659      NaN            9.0              NaN

      skewness_glucose  mean_glucose  std_oxygen  capital-gain  ...  \
611          17.381483     50.929688         NaN           0.0  ...
1011               NaN    128.539062         NaN           0.0  ...
1056          0.682723    105.484375   13.776845           0.0  ...
1579         18.678145     42.507812         NaN           0.0  ...
1612         29.112486     39.742188   52.242833           0.0  ...
1664         16.484870     54.742188   59.420044           0.0  ...
1782          0.683885    113.882812   19.769107           0.0  ...
1806          1.183415    119.671875   16.864159           NaN  ...
1844               NaN     92.773438   74.427846           0.0  ...
1916         -0.151936    154.187500         NaN           0.0  ...
2032               NaN    117.765625   34.429408           0.0  ...
2146               NaN    107.828125   22.454845           0.0  ...
2300         -0.344439    117.828125   21.297861           0.0  ...
2328          0.511960    121.734375   13.245584           0.0  ...
2433          0.535185     95.664062   16.519310           0.0  ...
2452               NaN    118.468750   25.240915           NaN  ...
2641         -0.685681    116.437500   19.802528           0.0  ...
2744          0.036374    122.968750   13.656888           0.0  ...
3031          3.407330     75.500000   42.676728           0.0  ...
3039         -0.016932    124.640625    9.349634           0.0  ...
3087          0.277213    138.195312   13.620776           0.0  ...
3124         -0.200794    130.640625         NaN           NaN  ...
3142         13.069902     23.789062   68.195929           0.0  ...
3167               NaN     91.468750   13.619921        7298.0  ...
3232         -0.707691    119.367188   10.974850           0.0  ...
3234          0.049202    140.179688         NaN           NaN  ...
3261         -0.394452    118.054688   56.808479           0.0  ...
3289               NaN    127.531250         NaN           NaN  ...
3296         -0.368959           NaN   13.171622           0.0  ...
3299         33.156220     19.492188   57.232719           0.0  ...
3317         -0.734330    139.117188   12.430800           0.0  ...
3335         -0.135072    114.906250   16.451133           0.0  ...
3353               NaN    100.515625   17.132455           0.0  ...
3384               NaN     53.796875   41.062448           0.0  ...
3430          0.087275    133.421875   13.955411           0.0  ...
3470         -0.487009           NaN         NaN           0.0  ...
3504         36.841550     25.882812   59.255379           0.0  ...
3540         39.094605      8.109375   72.147916           0.0  ...
3542               NaN    153.429688   19.747333       15024.0  ...
3628         -0.397321    106.835938         NaN           0.0  ...
3654         -1.168893    122.656250   69.048403           0.0  ...
3708               NaN           NaN   60.656770           NaN  ...
3722          0.169072     99.679688   12.875357           0.0  ...
3780          0.118957    120.664062   16.270931           0.0  ...
3787               NaN     54.257812   64.792196           NaN  ...
3881          0.504810    111.460938   16.437662           0.0  ...
3882          0.793905           NaN   13.091273           0.0  ...
3926         -0.043235    102.710938   17.773259           NaN  ...
3943          0.093926    101.718750   10.512441           0.0  ...
3961          1.906458    114.789062         NaN           0.0  ...

      kurtosis_glucose                                      personal_info  \
611           3.647740  Prof-specialty|United-States\r\r\nNever-marrie...
1011          0.103719  Machine-op-inspct|United-States\r\r\nMarried-c...
1056          0.309383  Prof-specialty|United-States\r\r\nMarried-civ-...
1579               NaN  Sales|United-States\r\r\nMarried-civ-spouse --...
1612          4.895432  ?|United-States\r\r\nMarried-civ-spouse -- ?|W...
1664          3.345038  Other-service|United-States\r\r\nNever-married...
1782          0.322081  Sales|United-States\r\r\nDivorced -- Private|W...
1806          0.300766  Machine_op_inspct|United-States\r\r\nSeparated...
1844          1.001202  Other-service|United-States\r\r\nMarried-civ-s...
1916         -0.609318  Sales|United-States\r\r\nNever-married -- Priv...
2032          0.199996                                                NaN
2146          0.059671  Sales|United-States\r\r\nDivorced -- Private|W...
2300          0.074904  ?|United-States\r\r\nMarried-civ-spouse -- ?|W...
2328          0.411469           ?|United-States\r\r\nDivorced -- ?|White
2433          0.535994  Sales|United-States\r\r\nMarried-civ-spouse --...
2452          0.160421  Prof-specialty|United-States\r\r\nDivorced -- ...
2641               NaN                                                NaN
2744          0.108653  Sales|United-States\r\r\nMarried-civ-spouse --...
3031          1.766852  Prof-specialty|United-States\r\r\nNever-marrie...
3039          0.328037  Machine-op-inspct|United-States\r\r\nMarried-c...
3087         -0.121572  Prof-specialty|United-States\r\r\nMarried-civ-...
3124         -0.278638  Prof-specialty|United-States\r\r\nMarried-civ-...
3142          3.654719  Adm_clerical|United-States\r\r\nNever-married ...
3167          0.560873  Exec-managerial|United-States\r\r\nMarried-civ...
3232          0.078796                                                NaN
3234         -0.166771  Prof-specialty|United-States\r\r\nMarried-civ-...
3261          0.058797  Craft-repair|United-States\r\r\nMarried-civ-sp...
3289               NaN  Other-service|United-States\r\r\nNever-married...
3296         -0.117205  Sales|United-States\r\r\nDivorced -- Private|W...
3299          5.643641                                                NaN
3317         -0.051165  Prof-specialty|United-States\r\r\nMarried-civ-...
3335          0.425965  Exec-managerial|United-States\r\r\nNever-marri...
3353          0.591291             ?|Canada\r\r\nNever-married -- ?|White
3384               NaN                                                NaN
3430         -0.062598  Craft-repair|United-States\r\r\nMarried-civ-sp...
3470          0.035584             ?|?\r\r\nMarried-civ-spouse -- ?|White
3504               NaN                                                NaN
3540          6.172109  Transport-moving|United-States\r\r\nNever-marr...
3542               NaN  Exec-managerial|United-States\r\r\nMarried-civ...
3628          0.023822                                                NaN
3654               NaN                                                NaN
3708          0.868208  Prof-specialty|United-States\r\r\nMarried-civ-...
3722          0.331856  Craft-repair|Canada\r\r\nMarried-civ-spouse --...
3780          0.167359  Adm-clerical|United-States\r\r\nMarried-civ-sp...
3787          2.979318                                                NaN
3881          0.241593  Machine-op-inspct|Mexico\r\r\nNever-married --...
3882          0.325639  Adm-clerical|United-States\r\r\nNever-married ...
3926          0.542286  Adm-clerical|United-States\r\r\nNever-married ...
3943          0.360483  Craft-repair|United-States\r\r\nNever-married ...
3961          0.343036  Machine-op-inspct|United-States\r\r\nMarried-c...

          education    fnlwgt  class  std_glucose  income mean_oxygen  \
611     Prof-school  221915.0    1.0          NaN   <=50K         NaN
1011            NaN  152159.0    0.0    46.694302   <=50K    1.286789
1056    Prof-school       NaN    0.0    42.219661    >50K    2.162207
1579            NaN  174283.0    1.0    34.301056     NaN         NaN
1612        Masters  172652.0    NaN    31.130332   <=50K   23.057692
1664           11th  216086.0    1.0    32.337634   <=50K   32.774247
1782        HS-grad  278039.0    1.0    44.344289   <=50K    2.200669
1806            NaN       NaN    0.0    39.307106   <=50K    1.746656
1844   Some-college  220187.0    1.0          NaN    >50K   43.400502
1916      Bachelors       NaN    0.0          NaN   <=50K    2.069398
2032   Some-college  153486.0    NaN    50.315176   <=50K    8.146321
2146        Masters  204584.0    0.0  4627.518054   <=50K         NaN
2300           11th       NaN    0.0    50.184520     NaN    3.221572
2328        7th-8th  200819.0    0.0    44.908150   <=50K    2.082776
2433        HS-grad  179594.0    NaN    47.606505   <=50K    2.897993
2452      Bachelors  231082.0    0.0    52.182663   <=50K         NaN
2641   Some-college  160151.0    0.0 -6180.434729    >50K    2.981605
2744        Masters  163110.0    0.0  4809.446068   <=50K    1.427258
3031      Bachelors  192236.0    1.0    47.715629   <=50K   13.190635
3039   Some-college   26803.0    0.0    50.170605    >50K    0.867893
3087        Masters  108435.0    0.0    43.169010    >50K    2.142977
3124      Bachelors  317443.0    0.0    50.376044     NaN   11.642977
3142   Some-college  431745.0    1.0  4475.151051   <=50K  130.994147
3167   Some-college       NaN    0.0    41.077658    >50K    2.407191
3232        HS-grad  162632.0    NaN    57.607219   <=50K    0.999164
3234      Bachelors  105150.0    0.0    45.839127    >50K    6.209866
3261        HS-grad  242521.0    0.0    53.474922   <=50K   18.591137
3289        HS-grad       NaN    0.0    54.948689   <=50K         NaN
3296            NaN  192237.0    0.0    55.480443   <=50K    1.644649
3299            NaN  135716.0    1.0    32.671661   <=50K         NaN
3317      Bachelors  235307.0    0.0    61.714390     NaN    2.083612
3335        HS-grad  409902.0    0.0    54.366729   <=50K    1.826923
3353        Masters  219897.0    0.0    36.479871   <=50K    2.175585
3384      Bachelors  187322.0    NaN    35.224583   <=50K   12.570234
3430   Some-college   73715.0    NaN    47.333196    >50K    2.377926
3470            NaN  647882.0    0.0    49.812343   <=50K    1.821070
3504   Some-college  111675.0    1.0          NaN     NaN   96.708194
3540        HS-grad   99270.0    1.0    33.709057   <=50K  111.352007
3542        Masters  226902.0    NaN          NaN    >50K    2.485786
3628   Some-college   38905.0    0.0    53.789052   <=50K         NaN
3654        HS-grad  123785.0    0.0    65.026730   <=50K   40.698997
3708        Masters  168479.0    1.0    47.029319    >50K   26.102007
3722      Bachelors  209691.0    0.0    44.752607   <=50K    1.771739
3780    Prof-school  192384.0    0.0    44.941851   <=50K    1.489967
3787        HS-grad  117721.0    1.0    41.582231   <=50K  159.611204
3881        7th-8th  225395.0    0.0    43.919832     NaN    1.607023
3882      Bachelors  278155.0    0.0 -4211.331440     NaN    2.339465
3926        HS-grad  318822.0    NaN    54.770566   <=50K    2.377090
3943      Assoc-voc   97723.0    0.0    48.484201   <=50K    1.130435
3961        HS-grad  195949.0    0.0          NaN   <=50K         NaN

      hours-per-week  capital-loss
611              NaN           0.0
1011             NaN           NaN
1056            60.0           NaN
1579            50.0           0.0
1612             8.0           0.0
1664            30.0           0.0
1782            60.0           0.0
1806            43.0           0.0
1844             NaN           0.0
1916            60.0           NaN
2032            40.0           NaN
2146            40.0           NaN
2300             3.0           NaN
2328            84.0           0.0
2433            40.0           0.0
2452            50.0           NaN
2641            60.0           0.0
2744            40.0           0.0
3031            45.0           NaN
3039            84.0           0.0
3087            47.0           0.0
3124            40.0           0.0
3142            14.0           0.0
3167            40.0           0.0
3232             2.0           0.0
3234            45.0           0.0
3261            40.0           0.0
3289            30.0           0.0
3296            40.0           0.0
3299            70.0           NaN
3317            40.0           0.0
3335             NaN           0.0
3353            35.0           0.0
3384             NaN           0.0
3430            40.0           0.0
3470            40.0           0.0
3504            43.0           NaN
3540            40.0           0.0
3542            50.0           0.0
3628            50.0           NaN
3654            75.0           0.0
3708             NaN           0.0
3722            50.0           0.0
3780            40.0           0.0
3787             NaN           0.0
3881            60.0           0.0
3882            40.0           NaN
3926             NaN           0.0
3943            40.0           0.0
3961            40.0           0.0

[50 rows x 21 columns]
                      name                                            address  \
611         Thomas Sanchez  08508 Fernandez Flat Apt. 002\r\nWest Andrea, ...

In [20]:
def iqr(attribute): 
    return data[attribute].quantile(0.75) - data[attribute].quantile(0.25) 
def outliers(attribute):
    iqrange = iqr(attribute)
    return data[(data[attribute] > (data[attribute].quantile(0.75) + iqrange*1.5)) | (data[attribute] < (data[attribute].quantile(0.25) - 1.5*iqrange))]

In [21]:
def sanitize_boolean(boolean):
    try:
        if boolean.strip() in ['f','F','FALSE','false','False']:
            return False
        elif boolean.strip() in ['t','T','TRUE','true','True']:
            return True
    except AttributeError:
        return None
    
data.pregnant = data.pregnant.apply(sanitize_boolean)

In [22]:
def parse_personal_info(personal_info):
    try:    
        return np.array(personal_info.replace(' -- ', ',').replace('|', ',').replace('\r\r\n', ',').split(','))
    except AttributeError:
        return None
    
def remove_empty(arr):
        if arr is not None:
            empty = ['?','??']
            for i in range(0,len(arr)):
                if (arr[i] != None):
                    if arr[i] in empty:
                        arr[i] = None
        return arr
    
def fill_value(number,arr):
    if arr is not None:
        return arr[number]

In [23]:
parsed_info = data.personal_info.apply(parse_personal_info).apply(remove_empty)

for index,name in enumerate(['employment','country','relationship_info','employment_info','race']):
    data[name] = parsed_info.apply(lambda x: fill_value(index,x))

In [24]:
# if (len(duplicatedRows)):
#     print("Dataframe obsahuje %d duplicitnych riadkov"%len(duplicatedRows))
# else:
#     print("Dataframe neobsahuje ziadne duplicitne riadkv")

In [25]:
# def iqr(attribute): 
#     return attribute.quantile(0.75) - attribute.quantile(0.25) 
# 
# def outliers(attribute):
#     iqrange = iqr(attribute)
#     
#     lower = attribute.quantile(0.25) - 1.5 * iqrange
#     upper = attribute.quantile(0.75) + 1.5 * iqrange
#    
#     return attribute[(attribute > upper) | (attribute < lower)]

In [29]:
data_duplicates = data[data.duplicated(subset='name', keep='first')]
print(data_duplicates)

                      name                                            address  \
611         Thomas Sanchez  08508 Fernandez Flat Apt. 002\r\nWest Andrea, ...
1011          Scott Devine            13640 King Way\r\nCandacestad, CO 48501
1056           Brian Sayle                 Unit 8665 Box 3853\r\nDPO AE 91497
1579     Timothy Morrissey        2502 Barker Grove\r\nLake Michael, MD 09357
1612            Jeff Clark  7111 Brown Divide Suite 582\r\nLake Adam, WY 8...
1664          Charles Ryan  753 Jenna Forest Suite 302\r\nAndrewstad, SC 8...
1782             Van Mason  07119 Allen Springs Apt. 535\r\nTracyfurt, ID ...
1806       Clarence Rivers         5800 Murphy Hollow\r\nPalmerbury, MA 20073
1844        Edward Peschel    6562 James Plaza Apt. 950\r\nRyanberg, ND 07273
1916        Timothy Sexton                 PSC 7866, Box 3941\r\nAPO AE 38197
2032           Robert Coen                      USCGC Roberts\r\nFPO AP 79030
2146         Jeffrey Silva  0806 Matthew Radial Suite 640\r\nPort Geraldch...
2300          Joseph Davis        908 John Squares\r\nGordonchester, DE 34696
2328        William Snyder      935 Patricia Underpass\r\nHardyberg, MA 64743
2433            Carl Gross           765 Cruz Walks\r\nBentleyburgh, IN 37147
2452          Leslie Marks        657 Williams Lakes\r\nNew Jessica, SC 19216
2641        Michael Parker  00045 Stuart Divide\r\nLake Anthonyfurt, NM 15518
2744          Randal Louis   95639 Gordon Alley Apt. 014\r\nAmyview, IA 08273
3031         Jesse Garrett   02673 Clark Hollow\r\nNew Isabellaberg, MS 37603
3039       George Hairston      18356 Benjamin Roads\r\nSouth Nancy, NJ 58120
3087         Marcus Martin  0767 Cheryl Spring Suite 383\r\nSmithburgh, NC...
3124            Ken Howard  1266 Rice Villages Apt. 837\r\nPort Christophe...
3142         Matthew Barry                 Unit 3881 Box 9328\r\nDPO AE 56526
3167        Anthony Huston  053 Jacob Cape Suite 034\r\nFigueroashire, SC ...
3232         Ronald Vernon        93783 Koch Shore\r\nBowersborough, NV 11345
3234         William Lacey      03291 Stewart Greens\r\nSouth David, GA 86868
3261         Adrian Alnutt        8942 Kaufman Park\r\nJennifertown, AK 67798
3289        Martin Winslow         624 Jones Mountains\r\nYoungberg, MO 94502
3296        Joshua Sanders  0629 Trevor Inlet Suite 858\r\nHarrisonborough...
3299       Francis Siebert        982 Douglas Lights\r\nStewartfort, WY 59574
3317          Damon Gordon  9853 Sims Tunnel Apt. 990\r\nNorth Katherinebu...
3335         Daniel Browne  62435 William Mill Apt. 976\r\nMalloryland, ND...
3353           Walter Lohr         54747 Corey Shore\r\nWest Miguel, ME 23170
3384        Robert Barnett  70417 Rodgers Gardens Apt. 766\r\nSarahport, N...
3430             Paul Todd  67426 Pierce Greens\r\nSouth Kimberlyport, MS ...
3470      Thomas Hernandez      3197 Ashley Street\r\nNorth Brandon, WA 90798
3504       Michale Robbins  31046 Amy Expressway Suite 183\r\nNorth Markbe...
3540         James Morales  758 Rush Junctions Suite 181\r\nNorth Brenda, ...
3542          Lance Palmer                 PSC 3789, Box 2884\r\nAPO AA 45129
3628         Kenneth Green  1381 Schneider Common Apt. 574\r\nSouth Nichol...
3654  Christopher Jennings  09825 Brian Freeway\r\nEast Austinborough, AR ...
3708           Bert Fowler         83987 Smith Mall\r\nPort Cynthia, NY 01518
3722          John Bormann          71353 Miller Point\r\nLake John, PA 33429
3780           Dean Foster  0953 Jenkins Extensions Suite 206\r\nKimhaven,...
3787          David Muller    96941 Heather Heights\r\nPetersonberg, OK 45722
3881           Peter Simon          1348 Carlos Valleys\r\nJosebury, MD 62824
3882          Julian Davis  75930 Jonathan Passage Suite 688\r\nPort Jamie...
3926    Zachary Grandfield  77606 Maxwell Rest Apt. 485\r\nPort Jennifer, ...
3943        Larry Hastings                 PSC 5570, Box 2217\r\nAPO AP 22025
3961            John Jaffe                 PSC 3677, Box 2117\r\nAPO AE 28076

      kurtosis_oxygen pregnant  education-num     relationship  \
611          2.229245    False            NaN   Other-relative
1011        12.921804     None           13.0          Husband
1056        10.745293    False           15.0          Husband
1579         0.641441     None           13.0          Husband
1612         2.481615    False           14.0          Husband
1664         1.821402    False            7.0        Own-child
1782         9.745960    False            9.0    Not-in-family
1806        10.912477    False            9.0    Not-in-family
1844              NaN    False            NaN          Husband
1916        10.802464    False           13.0        Own-child
2032         4.373814     None           10.0          Husband
2146         7.350902    False           14.0    Not-in-family
2300         7.508943     None            NaN          Husband
2328        10.811388    False            4.0        Own-child
2433         8.359921    False            9.0              NaN
2452         7.708201    False           13.0              NaN
2641         8.620896    False           10.0          Husband
2744        11.692194    False           14.0          Husband
3031         3.817963    False           13.0    Not-in-family
3039        19.696449    False           10.0          Husband
3087         9.619149    False           14.0          Husband
3124         3.602677    False            NaN             Wife
3142        -0.354235    False           10.0    Not-in-family
3167         9.262513    False           10.0          Husband
3232        15.797562    False            9.0          Husband
3234         5.498867    False            NaN          Husband
3261         2.902775    False            9.0          Husband
3289        13.203427    False            9.0    Not-in-family
3296        11.938502     None            NaN        Unmarried
3299         1.509937    False            9.0          Husband
3317        10.728410    False           13.0          Husband
3335        10.115970    False            9.0        Unmarried
3353         9.131698    False           14.0    Not-in-family
3384         3.874827    False            NaN    Not-in-family
3430         9.853659    False           10.0          Husband
3470        11.130535     None            9.0          Husband
3504         0.766689    False            NaN          Husband
3540         0.204406    False            9.0   Other-relative
3542         8.998641    False           14.0          Husband
3628         9.766992    False           10.0              NaN
3654         1.333386    False            9.0    Not-in-family
3708         2.225273    False           14.0              NaN
3722        11.919944    False           13.0          Husband
3780        12.274998    False           15.0          Husband
3787        -0.936519    False            9.0              NaN
3881        11.953114    False            NaN   Other-relative
3882         9.849796     None            NaN        Own-child
3926              NaN    False            9.0    Not-in-family
3943        15.381605    False           11.0    Not-in-family
3961         6.023659     None            9.0              NaN

      skewness_glucose  mean_glucose  std_oxygen  capital-gain  ...  \
611          17.381483     50.929688         NaN           0.0  ...
1011               NaN    128.539062         NaN           0.0  ...
1056          0.682723    105.484375   13.776845           0.0  ...
1579         18.678145     42.507812         NaN           0.0  ...
1612         29.112486     39.742188   52.242833           0.0  ...
1664         16.484870     54.742188   59.420044           0.0  ...
1782          0.683885    113.882812   19.769107           0.0  ...
1806          1.183415    119.671875   16.864159           NaN  ...
1844               NaN     92.773438   74.427846           0.0  ...
1916         -0.151936    154.187500         NaN           0.0  ...
2032               NaN    117.765625   34.429408           0.0  ...
2146               NaN    107.828125   22.454845           0.0  ...
2300         -0.344439    117.828125   21.297861           0.0  ...
2328          0.511960    121.734375   13.245584           0.0  ...
2433          0.535185     95.664062   16.519310           0.0  ...
2452               NaN    118.468750   25.240915           NaN  ...
2641         -0.685681    116.437500   19.802528           0.0  ...
2744          0.036374    122.968750   13.656888           0.0  ...
3031          3.407330     75.500000   42.676728           0.0  ...
3039         -0.016932    124.640625    9.349634           0.0  ...
3087          0.277213    138.195312   13.620776           0.0  ...
3124         -0.200794    130.640625         NaN           NaN  ...
3142         13.069902     23.789062   68.195929           0.0  ...
3167               NaN     91.468750   13.619921        7298.0  ...
3232         -0.707691    119.367188   10.974850           0.0  ...
3234          0.049202    140.179688         NaN           NaN  ...
3261         -0.394452    118.054688   56.808479           0.0  ...
3289               NaN    127.531250         NaN           NaN  ...
3296         -0.368959           NaN   13.171622           0.0  ...
3299         33.156220     19.492188   57.232719           0.0  ...
3317         -0.734330    139.117188   12.430800           0.0  ...
3335         -0.135072    114.906250   16.451133           0.0  ...
3353               NaN    100.515625   17.132455           0.0  ...
3384               NaN     53.796875   41.062448           0.0  ...
3430          0.087275    133.421875   13.955411           0.0  ...
3470         -0.487009           NaN         NaN           0.0  ...
3504         36.841550     25.882812   59.255379           0.0  ...
3540         39.094605      8.109375   72.147916           0.0  ...
3542               NaN    153.429688   19.747333       15024.0  ...
3628         -0.397321    106.835938         NaN           0.0  ...
3654         -1.168893    122.656250   69.048403           0.0  ...
3708               NaN           NaN   60.656770           NaN  ...
3722          0.169072     99.679688   12.875357           0.0  ...
3780          0.118957    120.664062   16.270931           0.0  ...
3787               NaN     54.257812   64.792196           NaN  ...
3881          0.504810    111.460938   16.437662           0.0  ...
3882          0.793905           NaN   13.091273           0.0  ...
3926         -0.043235    102.710938   17.773259           NaN  ...
3943          0.093926    101.718750   10.512441           0.0  ...
3961          1.906458    114.789062         NaN           0.0  ...

      std_glucose  income mean_oxygen hours-per-week  capital-loss  \
611           NaN   <=50K         NaN            NaN           0.0
1011    46.694302   <=50K    1.286789            NaN           NaN
1056    42.219661    >50K    2.162207           60.0           NaN
1579    34.301056     NaN         NaN           50.0           0.0
1612    31.130332   <=50K   23.057692            8.0           0.0
1664    32.337634   <=50K   32.774247           30.0           0.0
1782    44.344289   <=50K    2.200669           60.0           0.0
1806    39.307106   <=50K    1.746656           43.0           0.0
1844          NaN    >50K   43.400502            NaN           0.0
1916          NaN   <=50K    2.069398           60.0           NaN
2032    50.315176   <=50K    8.146321           40.0           NaN
2146  4627.518054   <=50K         NaN           40.0           NaN
2300    50.184520     NaN    3.221572            3.0           NaN
2328    44.908150   <=50K    2.082776           84.0           0.0
2433    47.606505   <=50K    2.897993           40.0           0.0
2452    52.182663   <=50K         NaN           50.0           NaN
2641 -6180.434729    >50K    2.981605           60.0           0.0
2744  4809.446068   <=50K    1.427258           40.0           0.0
3031    47.715629   <=50K   13.190635           45.0           NaN
3039    50.170605    >50K    0.867893           84.0           0.0
3087    43.169010    >50K    2.142977           47.0           0.0
3124    50.376044     NaN   11.642977           40.0           0.0
3142  4475.151051   <=50K  130.994147           14.0           0.0
3167    41.077658    >50K    2.407191           40.0           0.0
3232    57.607219   <=50K    0.999164            2.0           0.0
3234    45.839127    >50K    6.209866           45.0           0.0
3261    53.474922   <=50K   18.591137           40.0           0.0
3289    54.948689   <=50K         NaN           30.0           0.0
3296    55.480443   <=50K    1.644649           40.0           0.0
3299    32.671661   <=50K         NaN           70.0           NaN
3317    61.714390     NaN    2.083612           40.0           0.0
3335    54.366729   <=50K    1.826923            NaN           0.0
3353    36.479871   <=50K    2.175585           35.0           0.0
3384    35.224583   <=50K   12.570234            NaN           0.0
3430    47.333196    >50K    2.377926           40.0           0.0
3470    49.812343   <=50K    1.821070           40.0           0.0
3504          NaN     NaN   96.708194           43.0           NaN
3540    33.709057   <=50K  111.352007           40.0           0.0
3542          NaN    >50K    2.485786           50.0           0.0
3628    53.789052   <=50K         NaN           50.0           NaN
3654    65.026730   <=50K   40.698997           75.0           0.0
3708    47.029319    >50K   26.102007            NaN           0.0
3722    44.752607   <=50K    1.771739           50.0           0.0
3780    44.941851   <=50K    1.489967           40.0           0.0
3787    41.582231   <=50K  159.611204            NaN           0.0
3881    43.919832     NaN    1.607023           60.0           0.0
3882 -4211.331440     NaN    2.339465           40.0           NaN
3926    54.770566   <=50K    2.377090            NaN           0.0
3943    48.484201   <=50K    1.130435           40.0           0.0
3961          NaN   <=50K         NaN           40.0           0.0

             employment        country   relationship_info   employment_info  \
611      Prof-specialty  United-States       Never-married           Private
1011  Machine-op-inspct  United-States  Married-civ-spouse           Private
1056     Prof-specialty  United-States  Married-civ-spouse      Self-emp-inc
1579              Sales  United-States  Married-civ-spouse           Private
1612               None  United-States  Married-civ-spouse              None
1664      Other-service  United-States       Never-married           Private
1782              Sales  United-States            Divorced           Private
1806  Machine_op_inspct  United-States           Separated           Private
1844      Other-service  United-States  Married-civ-spouse  Self-emp-not-inc
1916              Sales  United-States       Never-married           Private
2032               None           None                None              None
2146              Sales  United-States            Divorced           Private
2300               None  United-States  Married-civ-spouse              None
2328               None  United-States            Divorced              None
2433              Sales  United-States  Married-civ-spouse           Private
2452     Prof-specialty  United-States            Divorced           Private
2641               None           None                None              None
2744              Sales  United-States  Married-civ-spouse           Private
3031     Prof-specialty  United-States       Never-married           Private
3039  Machine-op-inspct  United-States  Married-civ-spouse           Private
3087     Prof-specialty  United-States  Married-civ-spouse           Private
3124     Prof-specialty  United-States  Married-civ-spouse         Local-gov
3142       Adm_clerical  United-States       Never-married           Private
3167    Exec-managerial  United-States  Married-civ-spouse      Self-emp-inc
3232               None           None                None              None
3234     Prof-specialty  United-States  Married-civ-spouse           Private
3261       Craft-repair  United-States  Married-civ-spouse         State-gov
3289      Other-service  United-States       Never-married           Private
3296              Sales  United-States            Divorced           Private
3299               None           None                None              None
3317     Prof-specialty  United-States  Married-civ-spouse           Private
3335    Exec-managerial  United-States       Never-married           Private
3353               None         Canada       Never-married              None
3384               None           None                None              None
3430       Craft-repair  United-States  Married-civ-spouse           Private
3470               None           None  Married-civ-spouse              None
3504               None           None                None              None
3540   Transport-moving  United-States       Never-married           Private
3542    Exec-managerial  United-States  Married-civ-spouse           Private
3628               None           None                None              None
3654               None           None                None              None
3708     Prof-specialty  United-States  Married-civ-spouse           Private
3722       Craft-repair         Canada  Married-civ-spouse      Self-emp-inc
3780       Adm-clerical  United-States  Married-civ-spouse           Private
3787               None           None                None              None
3881  Machine-op-inspct         Mexico       Never-married           Private
3882       Adm-clerical  United-States       Never-married         State-gov
3926       Adm-clerical  United-States       Never-married           Private
3943       Craft-repair  United-States       Never-married  Self-emp-not-inc
3961  Machine-op-inspct  United-States  Married-civ-spouse       Federal-gov

       race
611   White
1011  Black
1056  White
1579  White
1612  White
1664  White
1782  White
1806  White
1844  White
1916  White
2032   None
2146  White
2300  White
2328  White
2433  White
2452  White
2641   None
2744  White
3031  White
3039  White
3087  White
3124  Black
3142  Black
3167  White
3232   None
3234  White
3261  White
3289  White
3296  White
3299   None
3317  White
3335  Black
3353  White
3384   None
3430  White
3470  White
3504   None
3540  White
3542  White
3628   None
3654   None
3708  White
3722  White
3780  White
3787   None
3881  White
3882  White
3926  White
3943  White
3961  White

[50 rows x 26 columns]

In [32]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3983 entries, 0 to 3982
Data columns (total 26 columns):
name                 3983 non-null object
address              3983 non-null object
kurtosis_oxygen      3978 non-null float64
pregnant             3971 non-null object
education-num        3965 non-null float64
relationship         3970 non-null object
skewness_glucose     3960 non-null float64
mean_glucose         3973 non-null float64
std_oxygen           3969 non-null float64
capital-gain         3967 non-null float64
skewness_oxygen      3970 non-null float64
kurtosis_glucose     3965 non-null float64
personal_info        3971 non-null object
education            3971 non-null object
fnlwgt               3970 non-null float64
class                3964 non-null float64
std_glucose          3971 non-null float64
income               3969 non-null object
mean_oxygen          3967 non-null float64
hours-per-week       3970 non-null float64
capital-loss         3963 non-null float64
employment           3971 non-null object
country              3971 non-null object
relationship_info    3971 non-null object
employment_info      3971 non-null object
race                 3971 non-null object
dtypes: float64(14), object(12)
memory usage: 809.2+ KB

,name,address,kurtosis_oxygen,pregnant,education-num,relationship,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,std_glucose,income,mean_oxygen,hours-per-week,capital-loss,employment,country,relationship_info,employment_info,race
0,Alex Chinzi,"590 Samantha Bridge Apt. 572\r\nNorth Allison,...",8.286599,False,16.0,Husband,0.234418,107.484375,15.072284,0.0,...,44.487706,>50K,2.448161,50.0,0.0,Prof-specialty,United-States,Married-civ-spouse,Private,White
1,Scott Bass,"5384 Hurst Groves Apt. 092\r\nFreemanview, SD ...",6.455860,False,13.0,Own-child,0.151130,140.203125,21.925411,0.0,...,44.586531,<=50K,4.445652,15.0,0.0,Prof-specialty,United-States,Never-married,Private,White
2,Chuck Lao,USS Scott\r\nFPO AE 78885,11.513491,False,9.0,Unmarried,-0.024384,124.054688,11.822427,0.0,...,45.904165,<=50K,1.890468,40.0,0.0,Other-service,Mexico,Separated,Private,White
3,Floyd Squires,"122 Ryan Ranch Suite 621\r\nPort Douglas, NM 0...",7.641796,False,13.0,Not-in-family,-0.564287,115.046875,22.965651,0.0,...,58.140302,<=50K,3.639632,40.0,0.0,Prof-specialty,Canada,Never-married,Private,White
4,Kenneth Cadet,"30930 Ryan Groves\r\nKatelynside, MS 75220",8.826058,False,9.0,Husband,0.495896,93.335938,13.777158,4064.0,...,45.605865,<=50K,2.510870,40.0,0.0,Sales,United-States,Married-civ-spouse,Private,White

In [33]:
aggregation_functions = {'name': 'first','address':'first', 'kurtosis_oxygen': 'first','pregnant': 'first','education-num': 'first',
                         'relationship': 'first','skewness_glucose': 'first','mean_glucose': 'first','std_oxygen': 'first',
                         'capital-gain': 'first','skewness_oxygen': 'first','kurtosis_glucose': 'first','personal_info': 'first',
                         'education': 'first','fnlwgt': 'first','class': 'first','std_glucose': 'first',
                         'income': 'first','mean_oxygen': 'first','hours-per-week': 'first','capital-loss': 'first' ,'employment': 'first' 
                         ,'country': 'first' ,'relationship_info': 'first' ,'employment_info': 'first' ,'race': 'first' }
df_new = data.groupby(data['name']).aggregate(aggregation_functions)

In [35]:
data_duplicates = df_new[df_new.duplicated(subset='name', keep='first')]
print(data_duplicates)

Empty DataFrame
Columns: [name, address, kurtosis_oxygen, pregnant, education-num, relationship, skewness_glucose, mean_glucose, std_oxygen, capital-gain, skewness_oxygen, kurtosis_glucose, personal_info, education, fnlwgt, class, std_glucose, income, mean_oxygen, hours-per-week, capital-loss, employment, country, relationship_info, employment_info, race]
Index: []

[0 rows x 26 columns]